/* Home  */
#home {
  background-color: var(--color-light-white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__block {
  text-align: right;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home__avatar {
  width: 18.75rem;
}

.home__text-container {
  height: 18rem;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-left: 1rem;
  justify-content: center;
}
.home__text {
  padding-top: 10px;
  height: 70%;
}

.home__text h1 {
  line-height: 120%;
  margin: 0;
}

.home__icons {
  font-size: var(--font-semi-lrg);
  padding: 10px 0;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  }

.home__icons > a {
  color: var(--color-dark-grey);
}

/* curser js effect */

.home__title + span {
  border-left: 0.15rem solid var(--color-dark-grey);
  animation: blink 0.7s ease-in-out infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
