/* NAV */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-dark-grey);
  padding: 0 16px;
  z-index: 5;
  transition: all 500ms ease-in-out;
}

#navbar.navbar-color {
  background-color: rgba(238, 238, 238, 0.9);
}

.navbar__log {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  padding: 10px 0;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__Item {
  padding: 4px 12px;
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__Item.active{
  border-bottom: 0.15rem solid var(--color-light-grey);
  animation: lineSilde .3s ease-in-out;
}
@keyframes lineSilde {
  0%{
    transform: scaleX(0);
  }
  100%{
    transform:scaleX(1);
  }
  
}
 */

.navbar__menu__Item:hover {
  background-color: var(--color-dark-white);

  cursor: pointer;
  border-radius: 6px;
}

/* navbar Toggle */

.nav__toggle-btn {
  display: none;
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
}

.menu__icon__bar {
  display: none;
  width: 1.75rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
}

.menu__icon__bar span {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.6rem;
  background-color: var(--color-dark-grey);
  transition: all 0.35s;
}

.nav__toggle-btn label.menu__icon__bar span:nth-child(1) {
  top: 0;
}
.nav__toggle-btn label.menu__icon__bar span:nth-child(2) {
  top: 50%;
  transform: translateY(
    -50%
  ); /* 중간값으로 정렬하기위해서 시작점이 상단으로 기본세팅된것을 억지로 내려주기위함. */
}
.nav__toggle-btn label.menu__icon__bar span:nth-child(3) {
  bottom: 0;
}
/* animation for checked transition */

input#menu__icon:checked ~ nav label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
input#menu__icon:checked ~ nav label span:nth-child(2) {
  opacity: 0;
}
input#menu__icon:checked ~ nav label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

/* click outside menu and click off */
#menu__icon {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

input#menu__icon:checked ~ .background {
  opacity: 1;
  visibility: visible;
}
