/* projects */
#projects {
  background-color: var(--color-light-white);
  height: 100%;
}


.display_none{
  opacity: 0;
  pointer-events: none;
}

.project__main {
  position: relative;
  width: 100%;
  
}

.project__item {
  display: flex;
  flex-basis: auto;
  margin: 1rem auto;
  width: 100%;
  height: 16rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project__item  .project__preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  max-width: 20rem;
  border-radius: 1.5rem;
  margin: 1rem;
}
.video__block {
  width: 20rem;
  max-height: 20rem;
  border-radius: 1.5rem;
  margin: 1rem;
}

.video__block source{
  max-width: 100%;
  border-radius: 1.5rem;
}

.project__item  .project__detail {
  width:80%;
  height: 100%;
  border-radius: 2rem;
  text-align: start;
  align-items: center;
  padding: 2em;
}

.project__name {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.project__tool {
  letter-spacing: 0.1em;
  color: var(--color-grey);
}

.project__detail .project__summry {
  margin: 1rem 0;
  letter-spacing: 0.15em;
  font-weight: var(--weight-regular);
  line-height: 2;
  
}

.project__detail .detail__column:first-child {
  width: 100%;
  height: 90%;
}

.project__detail .detail__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.detail__column:last-child a {
  letter-spacing: 0.1em;
  font-size: var(--font-sma);
  font-weight: var(--weight-bold);
  text-decoration: underline;
  margin-left: 1rem;
  color:var(--color-dark-grey);
}
.slide__btn {
  margin: 2rem 1rem;
  padding: 8px;
  border: 2px solid var(--color-med-grey);
  border-radius: 50%;
}
.slide__btn.active {
  background-color: var(--color-med-grey);
  box-shadow: rgba(255,255,255 0.4) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
}


/* before change-----------
.project__categories{
    margin: 1rem 0;
}

  .category__btn {
    background-color: var(--color-dark-white);
    padding: 8px 20px;
  }
  
  .category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--color-white);
    display: inline-block;
    line-height: 20px;
    margin-left: 4px;
  }
  

  .work__project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  .work__cover {
    max-width: 300px;
    max-height: 300px;
    background-color: var(--color-white);
    margin: 10px;
    position: relative;
  }
  .project__img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }

  .project__img_temp{
      width: 300px;
      height: 300px;
      color:tomato;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  
  .project__description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all var(--anim-duration) ease-in;
    border-radius: 20px;
  }
  
  .project:hover .project__description {
    opacity: 0;
    transform: translateY(0px);
  }
  
  .project__description h3 {
    color: var(--color-white);
  }
  .project__description h3:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: var(--color-white);
    position: relative;
    left: 50%;
    margin-top: 10px;
    margin-left: -50px;
  }
  
  .project__simbol {
    margin-top: 5px;
    display: inline;
  } */
