/* import url */
@import "css/nav.css";
@import "css/home.css";
@import "css/skill.css";
@import "css/project.css";
@import "css/contect.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,800;0,900;1,700;1,900&display=swap");

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-med-white: #cccccc;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-med-grey: #525252;
  --color-grey: #696868;
  --color-light-grey: #929292;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-Xlrg: 3rem;
  --font-lrg: 2.6rem;
  --font-semi-lrg: 2.25rem;
  --font-medium: 1.75rem;
  --font-semi-med: 1.5rem;
  --font-regular: 1.25rem;
  --font-small: 1rem;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 500;
  --weight-semi-bold: 300;
  --weight-regular: 300;
  --weight-thin: 100;

  /* Annimation */
  --anim-duration: 300ms;
}

/* Universal Tag */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: var(--font-Xlrg);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}
h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

body {
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-dark-grey);
}

ul {
  list-style: none;
  padding-left: 0;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* section common */

.section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section__container {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 2rem;
}

.arrowTop {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: var(--color-light-grey);
  width: 3.8em;
  height: 3.8em;
  border-radius: 50%;
  text-align: center;
  border: 1px solid var(--color-dark-white);
  color: var(--color-light-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}
.arrowTop i {
  font-size: 2em;
}
.arrowTop.visible {
  opacity: 1;
  pointer-events: auto;
}
/* JS class */

.navbar__menu__Item.active {
  border-bottom: 0.15rem solid var(--color-light-grey);
}
/* about me */

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: var(--color-dark-white); */
}
#about .sub__contents {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  text-align: start;
  font-size: var(--font-regular);
  line-height: 1.3;
}

/* ✳✳❇❇❇❇❇❇❇❇❇✳✳✳✳✳✳ */
/* For tablet and common size phone */
@media screen and (max-width: 900px) {
  .section {
    padding: 0;
  }
  .section__container {
    padding-top: 3em;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 16px;
    background-color: rgba(238, 238, 238, 0.9);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
    transition: all 300ms ease-in-out;
  }
  .navbar__menu__Item {
    padding: 1rem;
  }
  input[id="menu__icon"] {
    display: none;
  }
  .nav__toggle-btn {
    display: block;
  }
  .menu__icon__bar {
    display: block;
  }

  .menu__icon__bar span {
    display: block;
  }

  #home {
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
  }

  .home__block {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .home__text-container {
    width: 64%;
    height: 50%;
    margin: 0;
    justify-content: left;
  }

  .home__text {
    height: 60%;
  }

  .home__text h1 {
    font-size: var(--font-semi-lrg);
  }

  .home__icons {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    font-size: var(--font-Xlrg);
  }

  #skills {
    height: 100vh;
  }

  .skills {
    background-color: transparent;
  }

  .arrowTop {
    bottom: 1.5em;
    right: 1.5em;
  }

  /* project section */
  #projects {
    width: 100%;
    height: 100%;
  }
  .project__main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .project__item {
    width: 100%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video__block source {
    width: 100%;
  }

  .project__item .project__detail {
    margin: 0;
    padding: 0.5rem;
    width: 90%;
  }

  .project__detail .detail__column:first-child {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .project__detail .detail__column:last-child {
    display: flex;
    bottom: 0;
    right: 1rem;
    justify-content: end;
  }

  .project__name {
    margin: 0.5rem 0;
  }
  .project__detail .project__summry {
    margin: 0;
  }
  #about {
    padding: 0 2rem;
  }
  #about .sub__contents {
    font-size: var(--font-regular);
  }
}

/* For Below 425px screen width eg. Iphone mini. Iphone4 */
@media screen and (max-width: 600px), (max-height: 620px) {
  #home {
    padding-top: 0;
    height: 100vh;
  }
  .home__column {
    height: 100%;
  }
  .home__block {
    margin-top: 5rem;
    height: 40%;
    align-items: flex-end;
    position: relative;
  }
  .home__text h1 {
    font-size: var(--font-medium);
  }

  .home__icons {
    margin: 2rem 0;
    font-size: var(--font-lrg);
  }

  .home__avatar {
    width: 16rem;
  }
  .home__text-container {
    width: 80%;
    height: 40%;
  }
  #skills {
    height: auto;
  }
  .skills {
    padding: 0 10px;
    margin-bottom: 2rem;
  }

  #projects {
    height: 100%;
  }
  #projects .section__container {
    width: 100%;
  }

  .project__item {
    height: 36rem;
  }

  .video__block {
    width: 14rem;
  }
  .project__img {
    max-width: 16rem;
    border-radius: 1.5rem;
    margin: 0;
  }
  .project__detail {
    margin: 0;
    padding: 0;
    min-width: 0%;
    height: 97%;
  }

  .project__detail .detail__column:first-child {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .project__detail .detail__column:last-child {
    display: flex;
    right: 1rem;
    height: 5%;
    justify-content: end;
  }

  .project__name {
    margin: 0.5rem 0;
  }
  .project__detail .project__summry {
    margin-top: 1rem;
    font-size: var(--font-micro);
    line-height: 1.8;
  }

  #about {
    height: 100vh;
    padding: 0 1rem;
  }
  #about .sub__contents > li {
    font-size: var(--font-small);
  }
  .arrowTop {
    width: 3em;
    height: 3em;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
  }
  .arrowTop i {
    font-size: var(--font-medium);
    align-self: center;
  }
  #connect {
    height: 100%;
  }

  #contectForm {
    grid-template-columns: repeat(1, 1fr);
  }
  .direct__form #messageInput,
  .direct__form input,
  .direct__form #subjectInput,
  .direct__form #messageInput {
    grid-column: 1 / span 2;
  }
}

/* For Massive Screen */
@media screen and (min-width: 1200px) {
  .home__text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 1rem;
    justify-content: center;
    height: auto;
  }
  .home__text {
    padding-top: 10px;
    width: 100%;
    height: inherit;
  }

  .home__icons {
    font-size: var(--font-lrg);
    padding: 1rem 0;
  }

  #about .sub__contents {
    font-size: var(--font-medium);
  }
  .connect__icon {
    width: 100%;
    align-items: center;
  }
  .project__container {
    width: 100%;
  }
}
