/* import url */
@import "css/nav.css";
@import "css/home.css";
@import "css/skill.css";
@import "css/project.css";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-Xlrg: 3rem;
  --font-lrg: 2.6rem;
  --font-semi-lrg: 2.25rem;
  --font-medium: 1.75rem;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Annimation */
  --anim-duration: 300ms;
}

/* Universal Tag */
* {
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: var(--font-Xlrg);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a:visited{
  color: rgb(245, 245, 245);
}

/* section common */

.section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section__container {
  max-width: 1000px;
  margin: auto;
}

.arrowTop{
  position:fixed;
  bottom: 2em;
  right: 2em;
  background-color:var(--color-light-grey);
  width: 3.8em;
  height: 3.8em;
  border-radius: 50%;
  border:1px solid var(--color-dark-white);
  color:var(--color-light-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.arrowTop.visible{
  opacity: 1;
  pointer-events: auto;
}

/* about me */

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:teal;
}

/* contact me */

#connect {
  background-color: var(--color-light-grey);
}

/* Below 425px screen width */
@media screen and (max-width: 425px) {
  .section {
    padding: 0;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
    background-color: var(--light-white);
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu__Item{
    padding: 1rem;
  }

  input[id="menu__icon"] {
    display:none;
  }
  .nav__toggle-btn{
    display: block;
  }
  .menu__icon__bar{
    display:block;
  }
  
  .menu__icon__bar span{
    display:block;
  }

  #home {
    flex-direction: column;
    padding-top: 0;
    width: 100%;
  }

  .home__block {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  .home__avatar {
    width: 16rem;
  }

  .home__text-container {
    width: 70%;
    height: 40%;
  }

  .home__text {
    height: 60%;
  }
  .home__text h1 {
    font-size: var(--font-semi-lrg);
  }
  .home__icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: var(--font-Xlrg);
  }

  .skills {
    background-color: transparent;
  }
}

/* Below 850px screen width */
@media screen and (max-width: 850px) and (min-width: 426px) {
  .section {
    padding: 0;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 16px;
    background-color: rgba(238, 238, 238, 0.9);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open{
    display: block;
  }
  
  .navbar__menu__Item{
    padding: 1rem;
  }

  input[id="menu__icon"] {
    display:none;
  }
  .nav__toggle-btn{
    display: block;
  }
  .menu__icon__bar{
    display:block;
  }
  
  .menu__icon__bar span{
    display:block;
  }


  #home {
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
  }

  .home__block {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .home__text-container {
    width: 64%;
    height: 40%;
    margin: 0;
  }

  .home__text {
    height: 60%;
  }

  .home__text h1 {
    font-size: var(--font-semi-lrg);
  }

  .home__icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: var(--font-Xlrg);
  }

  .skills {
    background-color: transparent;
  }

  #projects{
    height: auto;
}
}

@media screen and (min-width: 1200px) {
  .home__text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 1rem;
    justify-content: center;
    height: auto;
  }
  .home__text {
    padding-top: 10px;
    width: 100%;
    height: inherit;
  }

  .home__icons {
    font-size: var(--font-lrg);
    padding: 1rem 0;
  }

  #projects{
    height: auto;
}
}